{% extends "bootstrap/base.html" %}
{% block title %}Sensor information{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var message_counter = 0;
    var char_counter = 0;
    var ctx = document.getElementById('liveChart');
    var timeOut = setTimeout(showOffline, 5000);
    var datasets = [];
    var dict_datasets = {};
    {% for sensor, data in sensors.items() %}
    datasets.push({
      label: '{{ sensor }}',
      data: [],
      fill: false,
      borderColor: 'rgba(255, 0, 0, 1)',
      backgroundColor: random_rgba(),
      borderWidth: 1
    });
    dict_datasets['{{ sensor }}'] = {"index":datasets.length - 1};
    {% endfor %}
    var liveChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [],
        datasets: datasets
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

    function random_rgba() {
      var o = Math.round, r = Math.random, s = 255;
      return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
    }

    socket.on('cost_electricity', function(message) {
      document.getElementById('received_cost').innerHTML = parseFloat(message["price"]) / 1000;
    });

    var intervalId = setInterval(function() {
      var total_watts = 0;
      console.log("setInterval")
      for (const [sensor, data] of Object.entries(dict_datasets)) {
        liveChart.data.datasets[data["index"]].data.push(data["last_value"]);
        console.log(data["last_value"] + " " + sensor);
        total_watts += parseFloat(data["last_value"]);
      }
      if (document.getElementById('received_cost').innerHTML === '--') {
          document.getElementById('actual_cost_kwh').innerHTML = '--';
      }
      else {
        console.log("setting total cost " + total_watts );
        document.getElementById('actual_cost_kwh').innerHTML = (parseFloat(document.getElementById('received_cost').innerHTML) / 1000) * total_watts;
      }
      document.getElementById('wattsh_value').innerHTML = total_watts;

      liveChart.data.labels.push(char_counter);
      char_counter++;
      liveChart.update();
    }, 1000);

    socket.on('mqtt_message', function(message) {
      if(message['topic'].includes('watts')) {
        console.log(message);
        var text = message['topic'] + " " + message['payload'];
        var $textarea = $('#received_messages');
        //liveChart.data.labels.push(message['payload']);
        /*liveChart.data.datasets.forEach((dataset) => {
          dataset.data.push(message['payload']);
        });*/
        sensor_id = message['topic'].split('/')[1];
        //liveChart.data.datasets[dict_datasets[sensor_id]["index"]].data.push(message['payload']);
        //liveChart.update();
        dict_datasets[sensor_id]["last_value"] = message['payload'];
        if (message_counter > 20) {
          $textarea.val(text + '\n');
          message_counter = 0;
        }
        else {
          $textarea.val($textarea.val() + text + '\n');
        }
        message_counter += 1;
      }
    });

    function showOnline() {
      $('#connecting').hide();
      $('#online').show();
      $('#offline').hide();
      clearTimeout(timeOut);
      timeOut = setTimeout(showOffline, 5000);
      $('#power_status').prop('checked', true);
    }
    function showOffline() {
      $('#connecting').hide();
      $('#online').hide();
      $('#offline').show();
    }
  });
</script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Show global data</a></li>
        <li><a href="/add_sensor">Add sensor</a></li>
        <li><a href="/sensors">List sensors</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Global data</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Live data graph</h3>
        </div>
        <div class="panel-body">
          <canvas id="liveChart" width="400" height="334"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Consumption</h3>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <div class="panel-body">
              <div class="panel panel-info">
                <div class="panel-heading" style="text-align:center">Watts/h</div>
                <div id="wattsh_value" class="panel-body" style="text-align:center">--</div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel-body">
              <div class="panel panel-info">
                <div class="panel-heading" style="text-align:center">Cost/h</div>
                <div id="actual_cost_kwh" class="panel-body" style="text-align:center">--</div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel-body">
              <div class="panel panel-info">
                <div class="panel-heading" style="text-align:center">Price KWh</div>
                <div id="received_cost"class="panel-body" style="text-align:center">--</div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel-body">
              <div class="panel panel-info">
                <div class="panel-heading">Total cost</div>
                <div class="panel-body" style="text-align:center">TODO</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Live data values</h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-8">
          <textarea id="received_messages" class="form-control" rows=10></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}