{% extends "bootstrap/base.html" %}
{% block title %}Sensor information{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

  });
</script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a href="/">Show global data</a></li>
        <li class="active"><a href="/add_sensor">Add sensor</a></li>
        <li><a href="/sensors">List sensors</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<p>Sensors configured:</p>
<ul>
{% for sensor, data in sensors.items() %}
    <li><a href="{{ url_for('sensor', sensor_id=sensor) }}">{{ sensor }}</a></li>
{% endfor %}
</ul>
{% endblock %}